<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *transloco="let t">{{ t("SETTINGS.PROJECT.legal")}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <ion-list>
    <ion-item href="https://github.com/enrique-lozano/Monekin/blob/main/docs/PRIVACY_POLICY.md">
      <ion-label>{{ t("SETTINGS.PRIVACY.title") }}</ion-label>
    </ion-item>

    <ion-item href="https://github.com/enrique-lozano/Monekin/blob/main/docs/TERMS_OF_USE.md">
      <ion-label>{{ t("SETTINGS.TERMS-OF-USE.title") }}</ion-label>
    </ion-item>

    <ion-item routerLink="/settings/license">
      <ion-label>{{ t("SETTINGS.LICENSES.title") }}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer class="px text-justify thin" style="font-size: 0.8em;" *transloco="let t" [innerHTML]="t('SETTINGS.LICENSES.footer')">
</ion-footer>