.value-container {
  flex-grow: 2;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #value {
    transition: all 0.3s;
    font-size: 8vh;
  }

  .value-note {
    margin-top: 12px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0px 48px;
  }
}

.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gainsboro;
}

.date {
  padding-left: 16px;
  padding-right: 6px;

  ion-buttons {
    border-left: 1px solid gainsboro;
  }
}

$icons-size: 22px;
.account-category {
  padding: 16px;
  border-bottom: 1px solid gainsboro;
  max-width: 100vw;

  > ion-icon {
    font-size: $icons-size;
    min-width: $icons-size;
  }

  > div {
    display: flex;
    align-items: center;
    overflow: hidden;

    div {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    ion-icon {
      margin-right: 10px;
      font-size: $icons-size;
      min-width: $icons-size;
      padding: 10px;
      border-radius: 10px;
    }

    ion-icon.account-icon {
      background-color: var(--ion-color-secondary);
      color: var(--ion-color-primary);
    }
  }
}

.calc-container {
  height: 40vh;
  width: 100vw;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
  transition: all 0.75s;

  @media (prefers-color-scheme: dark) {
    filter: brightness(0.85);
  }

  ion-button {
    font-size: 1.5em;
    --transition: all 0.75s, font-size 0.3s;
    --box-shadow: none;
  }

  ion-button:active {
    font-size: 2.5em;
  }
}

.default-form-color {
  .calc-container {
    background-color: var(--ion-color-light);

    ion-button {
      --background: var(--ion-color-light);
      color: var(--ion-color-light-contrast);
    }

    ion-button.submit-button {
      --background: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
    }
  }
}

.success-form-color {
  .calc-container {
    background-color: var(--ion-color-success-light);

    ion-button {
      --background: var(--ion-color-success-light);
      color: black;
    }

    ion-button.submit-button {
      --background: var(--ion-color-success);
      color: var(--ion-color-success-contrast);
    }
  }
}

.danger-form-color {
  .calc-container {
    background-color: var(--ion-color-danger-light);

    ion-button {
      --background: var(--ion-color-danger-light);
      color: black;
    }

    ion-button.submit-button {
      --background: var(--ion-color-danger);
      color: var(--ion-color-danger-contrast);
    }
  }
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
  animation-duration: 0.75s;
}
