<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (!categoryToEdit ? "CATEGORIES.new-category" : "CATEGORIES.edit") | transloco }}</ion-title>

    <ion-buttons *ngIf="categoryToEdit" slot="end">
      <ion-button (click)="openCategoryMenu($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="p pb-xs">
    <form [formGroup]="form" class="my-s">
      <div class="mb flex w-full">
        <ion-icon [ngStyle]="{color: color, backgroundColor: color + '19'}" (click)="openIconSelector()" class="category-icon" [name]="icon">
        </ion-icon>
        <ion-item style="flex-grow: 2;" fill="outline" [counter]="true">
          <ion-label position="floating">{{ (true ? "CATEGORIES.name" : "ACCOUNT.FORM.initial-balance") | transloco }} *</ion-label>
          <ion-input maxlength="20" formControlName="name" type="text" [placeholder]="'CATEGORIES.name' | transloco "></ion-input>

          <ion-icon slot="end" name="alert-circle" color="danger"></ion-icon>
        </ion-item>
      </div>
    </form>

    <ion-item [disabled]="categoryToEdit" fill="outline" class="my-l">
      <ion-label position="floating">{{ "CATEGORIES.type" | transloco}}</ion-label>
      <ion-select interface="popover" [(ngModel)]="typeOfCategory">
        <ion-select-option value="E">{{ "GENERAL.expense" | transloco}}</ion-select-option>
        <ion-select-option value="I">{{ "GENERAL.income" | transloco}}</ion-select-option>
        <ion-select-option value="B">{{ "CATEGORIES.both-types" | transloco}}</ion-select-option>
      </ion-select>
    </ion-item>

  </div>

  <ion-list>
    <ion-list-header>
      {{ "CATEGORIES.subcategories" | transloco }}
    </ion-list-header>

    <ion-item button [detail]="false" *ngFor="let subcat of currentSubcategories">
      <ion-icon (click)="postSubcategory(subcat)" slot="start" [name]="subcat.icon" [style.color]="color"></ion-icon>
      <ion-label (click)="postSubcategory(subcat)">
        {{subcat.name}}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="openSubcategoryMenu($event, subcat)">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item button [detail]="false" (click)="postSubcategory()">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label>{{ "CATEGORIES.subcategories.add" | transloco }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-no-border p">
  <ion-button [disabled]="isSubmitted" expand="block" (click)="submit()">
    {{ (!categoryToEdit ? "CATEGORIES.create" : "CATEGORIES.edit") | transloco}}

    <ion-icon *ngIf="isSubmitted" class="animate-flip ml-s" name="ellipse"></ion-icon>
  </ion-button>
</ion-footer>