ion-skeleton-text {
  line-height: 1em;
}

ion-chip.md {
  border-radius: 8px;
}

ion-list {
  --ion-item-background: transparent;

  ion-item {
    > *[slot="start"] {
      margin-right: 18px;
    }
  }

  ion-item:last-child {
    --inner-border-width: 0px;
  }
}
