@import "swiper/scss";

.slides-width-auto .swiper-slide {
  width: fit-content;
}

.swiper-min-height .swiper-slide,
.swiper-min-height .swiper-wrapper {
  min-height: 80vh;
}

.swiper-min-height-small .swiper-slide,
.swiper-min-height-small .swiper-wrapper {
  min-height: 60vh;
}

.swiper-height-auto .swiper-slide {
  height: auto;
}
