.card {
  ion-icon {
    font-size: 32px;
    margin-right: 16px;
  }
}

.alert-1-msg p {
  margin: 0;
}

.help {
  display: flex;
  align-items: center;
  font-size: 0.94rem;
  font-weight: 200;
  margin: 0;
  margin-bottom: 24px;

  ion-icon {
    padding: 2px;
    border-radius: 100%;
    border: 1px solid;
    margin-left: 10px;
  }
}
