ion-header {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);

  ion-chip {
    opacity: 0.9;
    color: var(--ion-color-light);
    border-color: var(--ion-color-light);

    ion-icon {
      color: var(--ion-color-light);
    }
  }

  @media (prefers-color-scheme: dark) {
    ion-chip {
      color: var(--ion-color-light-contrast);
      border-color: var(--ion-color-light-contrast);

      ion-icon {
        color: var(--ion-color-light-contrast);
      }
    }
  }

  .all-accounts-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-top: 1px solid #e5e5e540;
  }
}

.add-account-slide-container {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 220px;

  ion-icon {
    color: var(--ion-color-primary);

    @media (prefers-color-scheme: dark) {
      color: var(--ion-color-tertiary);
    }

    font-size: 40px;
  }
}

$health-chart-width: min(30vw, 200px);

.health-text {
  width: calc(100% - $health-chart-width);
  padding-right: 16px;
  align-self: center;
}

.healthy-chart-container {
  position: relative;
  width: $health-chart-width;
  height: 100px;

  canvas {
    position: absolute;
    width: $health-chart-width !important;
    height: 100px !important;
  }
}

#health-value {
  font-weight: 800;
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 36px;
  bottom: 0;
}

.tool-list {
  ion-item {
    .material-symbols-outlined {
      font-size: 28px;
      color: var(--ion-color-primary);
    }
  }
}
