.colored-container {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  position: relative;
  margin-bottom: 52px; // pb-xl + ion-card margin (32px + 16px)

  .swap-info-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100%;
    left: 0%;
    width: 100%;

    .swap-info {
      background-color: var(--ion-background-color);
      color: var(--ion-text-color);
      border-radius: 60px;
      transform: translateY(-50%);
      --inner-padding-end: 12px;
      --padding-start: 8px;

      .swap-icon {
        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
      }
    }
  }
}

.header {
  padding-bottom: 6vh;
}

ion-avatar {
  // Same width and heigth since the flags icons are squared (1x1)
  max-height: 6vh;
  max-width: 6vh;

  margin-right: 16px;
}

.currency-selector {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 6px;

  ion-icon {
    margin-left: 4px;
  }
}

.input-value {
  text-align: end;
  flex-grow: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.last-change-info {
  width: 100%;
  font-size: 13px;
  font-weight: 200;
}

.calc-container {
  height: 40vh;
  width: 100%;
  padding: 8px 0px;
  background-color: var(--ion-background-color);

  ion-button {
    font-size: 1.5em;
    transition: all 0.3s;
  }

  ion-button:active {
    font-size: 2.5em;
  }
}
/*--------- dark mode variables go here----------- */
@media (prefers-color-scheme: dark) {
}
