<ion-content *transloco="let t">

  <div class="colored-container">
    <ion-toolbar class="header" color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>

      <ion-title>{{ t("CURRENCIES.currency-converter") }}</ion-title>
    </ion-toolbar>

    <div class="px pb-xl">
      <ion-card>
        <ion-card-content class="flex items-center justify-content-between">
          <div class="flex items-center">
            <ion-avatar>
              <img [src]="'assets/icons/currency_flags/' + (currency1?.code | lowercase) + '.svg'" alt="From Currency Flag" />
            </ion-avatar>
            <div (click)="openCurrencyModal(1)">
              <h2 class="currency-selector">
                {{currency1?.code}} <ion-icon name="chevron-down"></ion-icon>
              </h2>
              <p style="margin-bottom: 0;">
                {{currency1?.name}}
              </p>

            </div>
          </div>

          <h1 class="input-value">{{value | number : "1.0-2" }}</h1>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="swap-info-container">
      <ion-item lines="none" class="swap-info shadow-xs" button [detail]="false" (click)="shiftValues()">
        <ion-avatar class="swap-icon" slot="start">
          <ion-icon style="font-size: 18px;" name="swap-vertical"></ion-icon>
        </ion-avatar>
        <ion-label>
          1 {{ currency1?.code }} =
          {{ exchangeRate | number : "1.0-4" }}
          {{ currency2?.code}}
        </ion-label>
      </ion-item>
    </div>

  </div>

  <div class="px pb-xl">
    <ion-card>
      <ion-card-content class="flex items-center justify-content-between">
        <div class="flex items-center">
          <ion-avatar>
            <img [src]="'assets/icons/currency_flags/' + (currency2?.code | lowercase) + '.svg'" alt="From Currency Flag" />
          </ion-avatar>
          <div (click)="openCurrencyModal(2)">
            <h2 class="currency-selector">
              {{currency2?.code}} <ion-icon name="chevron-down"></ion-icon>
            </h2>
            <p style="margin-bottom: 0;">
              {{currency2?.name}}
            </p>

          </div>
        </div>

        <h1 class="input-value">{{ calculatedValue | number : "1.0-2" }}</h1>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="flex wrap items-center w-full justify-content-center text-center" style="position: absolute; bottom: 0">
    <ion-skeleton-text style="width: 50%;" *ngIf="daysSinceLastUpdate === undefined">
    </ion-skeleton-text>

    <span class="last-change-info" *ngIf="daysSinceLastUpdate !== undefined">
      {{ t("CURRENCIES.days-without-update", {x : (daysSinceLastUpdate | number : "1.0-0") } ) }}
    </span>


    <div class="calc-container">
      <div *ngFor="let group of buttons" class="inline-block w-full h-1/4">
        <div *ngFor="let but of group" class="p-xs w-1/3 h-full inline-block">
          <ion-button color="light" (click)="butPress(but)" class="h-full w-full">
            <ng-container *ngIf="but !== '<-'"> {{but}} </ng-container>
            <ng-container *ngIf="but === '<-'">
              <ion-icon name="backspace-outline"></ion-icon>
            </ng-container>
          </ion-button>
        </div>
      </div>
    </div>

  </div>
</ion-content>