<div class="header">
  <div class="flex items-center">
    <ion-icon [name]="item.category.icon" [ngStyle]="{'color': '#' + item.category?.color, 'background-color': '#' + item.category?.color + '19'}">
    </ion-icon>
    <div class="ml">
      <h3>{{item.category.name}}</h3>
      <span>
        {{item.transactions.length}} {{ ("GENERAL." + (item.transactions.length === 1 ? "transaction" : "transactions")) | transloco | lowercase}}
      </span>
    </div>
  </div>

  <div class="mt thin flex justify-content-between items-center">
    <span>{{dataRangeText}}</span>
    <h4>
      <currency-value [value]="item.value"></currency-value>
    </h4>
  </div>

</div>

<div class="subcategories" [ngStyle]="{'background-color': '#' + item.category?.color + '19'}">
  <ng-container *ngFor="let subcat of subcategories">
    <div class="icon-container">
      <ion-icon [name]="subcat.icon" [ngStyle]="{'color': '#' + item.category?.color}">
      </ion-icon>
    </div>
    <div>
      {{ subcat.name }}
      <app-progress-bar [infillPercentage]="100 * (subcat.value / item.value)" [color]="item.category?.color"></app-progress-bar>
    </div>
    <div class="text-end">
      <div>
        <currency-value [value]="subcat.value" [showDecimals]="false"></currency-value>
      </div>
      <div class="thin" style="line-height: 0.85rem; font-size: 0.85rem;">{{ (subcat.value / item.value) | percent : "1.0-0" :
        lang.getSelectedLang() }}</div>
    </div>
  </ng-container>
</div>