.header {
  padding: 16px;
  margin-top: 8px;

  ion-icon {
    font-size: 28px;
    padding: 10px;
    border-radius: 10px;
  }
}

div.subcategories {
  display: grid;
  padding: 10px;
  grid-row-gap: 8px;
  grid-column-gap: 12px;
  align-items: center;
  grid-template-columns: auto 1fr auto;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    padding: 10px;
    border-radius: 10px;
    font-size: 28px;
  }
}
