<ion-header *transloco="let t">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ t("RECURRENT-TRANSACTIONS.DETAILS.title") }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToEditTransaction()">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>

      <ion-button (click)="openTransactionOptions($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <div class="flex items-center p" style="background-color: var(--ion-color-light);">

    <div class="icon-container mr">
      <ion-icon *ngIf="transaction" [name]="getTransactionIcon()"
        [ngStyle]="{'color': getTransactionColor(), 'background-color': getTransactionColor() + '19'}">
      </ion-icon>
    </div>

    <div>
      <h1>
        <currency-value [value]="transaction?.value" [currencyCode]="transaction?.account.currency"></currency-value>
      </h1>

      <h6 class="mt-xs">{{transaction?.category?.name}}</h6>
    </div>

  </div>

  <ion-list>
    <ion-item>
      <ion-label>
        <p>{{ t("GENERAL.account") }}</p>
        <h4>{{transaction?.account.name}}</h4>
      </ion-label>

      <ion-icon slot="end" [name]="transaction?.account?.icon"></ion-icon>
    </ion-item>

    <ion-item *ngIf="transaction?.repeat">
      <ion-label>
        <p>{{ t("GENERAL.TIME.periodicity") }}</p>
        <h4>
          <ng-container *ngIf="transaction?.repeat.temp === 'week'">{{ t("RECURRENT-TRANSACTIONS.DETAILS.each-week") }}</ng-container>
          <ng-container *ngIf="transaction?.repeat.temp === 'month'">{{ t("RECURRENT-TRANSACTIONS.DETAILS.each-month") }}</ng-container>
          <ng-container *ngIf="transaction?.repeat.temp === 'year'">{{ t("RECURRENT-TRANSACTIONS.DETAILS.each-year") }}</ng-container>
        </h4>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p>
          <ng-container *ngIf="transaction?.repeat">
            {{ t("RECURRENT-TRANSACTIONS.DETAILS.start-date") }}
          </ng-container>
          <ng-container *ngIf="!(transaction?.repeat)">
            {{ t("ACCOUNT.date") }}
          </ng-container>
        </p>
        <h4>{{ transaction?.date | date : "longDate" : undefined }}, {{ transaction?.date | date : "shortTime" : undefined :
          lang.getSelectedLang() }}</h4>
      </ion-label>
    </ion-item>


    <ion-item *ngIf="transaction?.text">
      <ion-label>
        <p>{{ t("TRANSACTION.FORM.description") }}</p>
        <h4>{{transaction.text}}</h4>
      </ion-label>
    </ion-item>

    <ng-container *ngIf="transaction?.repeat">
      <ion-item>
        <ion-label>
          <p>{{ t(("RECURRENT-TRANSACTIONS.DETAILS." + (transaction?.value < 0 ? "balance-expense" : "balance-income" ))) }}</p>
              <h4>
                <currency-value [value]="valueTillNow"></currency-value>
              </h4>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="transaction?.repeat.endDate">
        <ion-label>
          <p>{{ t("RECURRENT-TRANSACTIONS.DETAILS.end-date") }}</p>
          <h4>{{ transaction?.repeat.endDate | date : "longDate" : undefined }}</h4>
        </ion-label>
      </ion-item>
    </ng-container>

  </ion-list>
</ion-content>