.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    padding: 12px;
    border-radius: 100%;
    font-size: 38px;
  }
}

ion-footer ion-button {
  min-height: 76px;
  white-space: normal;
  width: 30%;

  &.md {
    --border-radius: 0.625rem;
  }

  div {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;

    ion-icon {
      margin-bottom: 6px;
      font-size: 24px;
    }

    ion-label {
      font-size: smaller;
    }
  }
}
