<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (accountToEdit ? "ACCOUNT.FORM.edit" : "ACCOUNT.FORM.create") | transloco }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">

  <form [formGroup]="form" class="p">

    <ion-item style="flex-grow: 2;" fill="outline">
      <ion-label position="floating">{{ t("ACCOUNT.FORM.name") }} *</ion-label>
      <ion-input maxlength="20" formControlName="name" type="text" [placeholder]="t('ACCOUNT.FORM.name.placeholder') ">
      </ion-input>

      <ion-icon slot="end" name="alert-circle" color="danger"></ion-icon>
    </ion-item>

    <ion-item fill="outline" class="my">
      <ion-label position="floating">{{ t((accountToEdit ? "ACCOUNT.FORM.current-balance" : "ACCOUNT.FORM.initial-balance")) }} *</ion-label>
      <ion-input formControlName="balance" type="number"></ion-input>

      <ion-icon slot="end" name="alert-circle" color="danger"></ion-icon>
    </ion-item>

    <ion-item button fill="outline" (click)="openCurrencyModal()" class="my">
      <ion-label position="floating">Divisa *</ion-label>
      <ion-input readonly formControlName="currency"></ion-input>
      <ion-avatar slot="end">
        <img [src]="'assets/icons/currency_flags/' + (currency?.code | lowercase) + '.svg'" alt="Currency Flag">
      </ion-avatar>
    </ion-item>

    <ion-item button fill="outline" (click)="openIconSelector()" class="my">
      <ion-label>Icono *</ion-label>
      <ion-icon slot="end" class="account-icon" [name]="icon"></ion-icon>
    </ion-item>

    <ion-item fill="outline" class="my">
      <ion-label position="floating">{{ t("ACCOUNT.FORM.description") }}</ion-label>
      <ion-input formControlName="text" maxlength="25" type="text"></ion-input>
    </ion-item>

    <ion-item fill="outline" class="my">
      <ion-label position="floating">{{ t("ACCOUNT.FORM.iban") }}</ion-label>
      <ion-input formControlName="iban" maxlength="25" type="text"></ion-input>
    </ion-item>

    <ion-item fill="outline" class="my">
      <ion-label position="floating">{{ t("ACCOUNT.FORM.swift") }}</ion-label>
      <ion-input formControlName="swift" maxlength="25" type="text"></ion-input>
    </ion-item>

  </form>

  <div class="text-center px" *ngIf="!accountToEdit">
    <h4>{{ t("ACCOUNT.TYPES.title") }}</h4>

    <div class="flex wrap mt-s">
      <div class="rounded-xxl py px-s account-type-option" (click)="type='normal'" [ngClass]="{'selected': type === 'normal'}">
        <span class="material-symbols-outlined">
          account_balance_wallet
        </span>
        <h5>{{ t("ACCOUNT.TYPES.normal") }}</h5>
        <p>{{ t("ACCOUNT.TYPES.normal.descr") }}</p>
      </div>
      <div class="rounded-xxl py px-s account-type-option" (click)="type='saving'" [ngClass]="{'selected': type === 'saving'}">
        <span class="material-symbols-outlined">
          savings
        </span>
        <h5>{{ t("ACCOUNT.TYPES.saving") }}</h5>
        <p>{{ t("ACCOUNT.TYPES.saving.descr") }}</p>
      </div>

    </div>

    <p class="thin px" style="font-size: smaller">{{ t("ACCOUNT.TYPES.warning") }}</p>

  </div>

</ion-content>

<ion-footer class="ion-no-border p" *transloco="let t">
  <ion-button expand="block" (click)="submit()">
    {{ t((accountToEdit ? "ACCOUNT.FORM.edit" : "ACCOUNT.FORM.create")) }}</ion-button>
</ion-footer>