<ng-container *transloco="let t">

  <ion-toolbar>
    <ion-title>
      {{ t("GENERAL.TRANSACTION-ORDER.display") }}
    </ion-title>
  </ion-toolbar>

  <div class="mt" *ngIf="order">
    <div *ngFor="let item of keys" [ngClass]="{'selected': order.orderBy === transactionListOrderKeyType[item]}"
      class="pl py mr-s my-xs rounded-r-xl flex items-center" (click)="selectOrder(item)">
      <ion-icon [name]="order.dir === 'asc' ? 'arrow-up' : 'arrow-down'"></ion-icon>
      <span>
        {{ t(("GENERAL.TRANSACTION-ORDER." + transactionListOrderKeyType[item])) }}
      </span>
    </div>
  </div>

</ng-container>