<app-dynamic-sheet-modal [title]="'GENERAL.TRANSACTION-ORDER.display'" [displayFooterButtons]="false">
  <ng-container *transloco="let t">

    <ion-list class="" *ngIf="order">
      <ion-item *ngFor="let item of keys" lines="none" [ngClass]="{'selected': order.orderBy === transactionListOrderKeyType[item]}"
        class="mr-s rounded-r-xl flex items-center" (click)="selectOrder(item)">
        <ion-icon slot="start" [name]="order.dir === 'asc' ? 'arrow-up' : 'arrow-down'"></ion-icon>
        <ion-label>
          <h2>
            {{ t(("GENERAL.TRANSACTION-ORDER." + transactionListOrderKeyType[item])) }}
          </h2>
        </ion-label>
      </ion-item>
    </ion-list>

  </ng-container>
</app-dynamic-sheet-modal>