<div class="container" *transloco="let t">
  <h5 class="header"> {{ t("GENERAL.TIME.range") }} </h5>

  <div class="flex w-full items-center wrap">
    <div class="option" [ngClass]="{'selected': selectedValue === 'Custom'}" (click)="onOptionSelected(dateRanges.Custom)">
      <ion-icon name="calendar-outline"></ion-icon>
      <div>
        {{ t("GENERAL.TIME.custom") }}
      </div>
    </div>
    <div class="option" [ngClass]="{'selected': selectedValue === 'Infinite'}" (click)="onOptionSelected(dateRanges.Infinite)">
      <ion-icon name="infinite-outline"></ion-icon>
      <div>
        {{ t("GENERAL.TIME.infinite") }}
      </div>
    </div>
    <div class="option" [ngClass]="{'selected': selectedValue === 'Annualy'}" (click)="onOptionSelected(dateRanges.Annualy)">
      <div>
        <span>365</span>
      </div>
      <div>
        {{ t("GENERAL.TIME.annualy") }}
      </div>
    </div>
    <div class="option" [ngClass]="{'selected': selectedValue === 'Quaterly'}" (click)="onOptionSelected(dateRanges.Quaterly)">
      <div>
        <span>90</span>
      </div>
      <div>
        {{ t("GENERAL.TIME.quaterly") }}
      </div>
    </div>
    <div class="option" [ngClass]="{'selected': selectedValue === 'Monthly'}" (click)="onOptionSelected(dateRanges.Monthly)">
      <div>
        <span>30</span>
      </div>
      {{ t("GENERAL.TIME.monthly") }}
    </div>
    <div class="option" [ngClass]="{'selected': selectedValue === 'Weekly'}" (click)="onOptionSelected(dateRanges.Weekly)">
      <div>
        <span>7</span>
      </div>
      {{ t("GENERAL.TIME.weekly") }}
    </div>
  </div>
</div>