<ion-header *transloco="let t" class="p pb-l">

  <div class="flex justify-content-between items-center">
    <div class="flex items-center" routerLink="/settings">

      <ion-avatar class="user-avatar mr-xs">
        <img *ngIf="userAvatar" [src]="'assets/icons/avatars/' + userAvatar + '.svg'" alt="User Avatar">
        <ion-skeleton-text *ngIf="!userAvatar" animated></ion-skeleton-text>
      </ion-avatar>

      <div class="ml-s">
        <span class="thin text-smaller">
          {{ t("TABS.TAB1.hello-" + currentTime) }}
        </span>
        <h5>
          <ion-skeleton-text *ngIf="!userName" style="width: 80%;" animated></ion-skeleton-text>
          <ng-container *ngIf="userName">{{userName}}</ng-container>
        </h5>
      </div>

    </div>

    <ion-chip [outline]="true" (click)="openDateModal()">
      <ion-label>{{ t("GENERAL.TIME.THIS." + dateRangeService.dateRangeSelected) }}</ion-label>
      <ion-icon name="caret-down"></ion-icon>
    </ion-chip>

  </div>

  <div class="mt pt all-accounts-info">
    <div class="thin text-smaller"> {{ t("TABS.TAB1.total-balance") }} </div>
    <h1>
      <currency-value *ngIf="userTotalMoney !== undefined" [value]="userTotalMoney"></currency-value>
      <ion-skeleton-text *ngIf="userTotalMoney === undefined" animated style="width: 30%;"></ion-skeleton-text>
    </h1>

    <div class="bold mt-xs">
      <app-trending [form]="'outline-box'" [value]="userMoneyVariation" [textAfter]="t('GENERAL.TIME.THIS.' +
        dateRangeService.dateRangeSelected) | lowercase">
      </app-trending>
    </div>
  </div>

</ion-header>

<ion-content *transloco="let t" color="" [scrollEvents]="true" (ionScroll)="toggleFab($event)">

  <div class="flex justify-content-between items-end pl pr-xs pt">
    <ion-card-title class="my-s">{{ t("TABS.TAB1.my-accounts") }}</ion-card-title>
    <ion-button size="small" fill="clear" color="primary" routerLink="/accounts/list">
      {{ t("TABS.TAB1.ACCOUNT-RESUME.link")}}
    </ion-button>
  </div>

  <div class="px" *ngIf="!accounts">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <swiper @inOut *ngIf="accounts" [config]="accountsSwiperConfig" class="swiper-height-auto slides-width-auto" #accountsSwiper>
    <ng-template swiperSlide *ngFor="let account of accounts; let i = index">
      <ion-card color="light" class="account-card p" style="margin-left: 16px;" [routerLink]="'/account-details/' + account.id">
        <div class="flex items-center w-full">
          <ion-icon [name]="account.icon" color="" class="rounded-full"
            style="background-color: var(--ion-color-tertiary); color: var(--ion-color-tertiary-contrast); font-size: 22px; padding: 12px;">
          </ion-icon>
          <div style="margin-left: 14px;">
            <h5 class="mb-xs flex items-center">
              {{ account.name }}
            </h5>
            <div class="flex items-end">
              <span style="margin-right: 12px;">
                <currency-value [value]="account.money" [currencyCode]="account.currency">
                </currency-value>
              </span>
              <app-trending class="bold" style="display: inline-block;" [value]="account.variation">
              </app-trending>
            </div>
          </div>
        </div>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card color="light" (click)="goToAddAccount()" style="margin-right: 16px; margin-left: 16px;"
        class="account-card p add-account-slide-container">
        <div class="text-center flex items-center justify-content-around w-full">
          <ion-icon name="add-circle"></ion-icon>
          <h5>{{ t("ACCOUNT.FORM.create") }}</h5>
        </div>
      </ion-card>
    </ng-template>
  </swiper>

  <div class="p">
    <ion-card>
      <ion-card-header>
        <ion-card-title> {{ t("FINANCIAL-HEALTH.display") }} </ion-card-title>

        <ion-buttons>
          <ion-button color="primary" routerLink="/finance-health">
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-card-header>

      <ion-card-content>

        <div class="flex items-center wrap">
          <p class="health-text">
            <ng-container *ngIf="healthyReview">
              {{ t("FINANCIAL-HEALTH.review.descr." + healthyReview) }}
            </ng-container>

            <ng-container *ngIf="!healthyReview">
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ng-container>
          </p>

          <div class="healthy-chart-container">
            <canvas #healthyChart></canvas>
            <p id="health-value">{{healthy | number : "1.0-0"}}</p>
          </div>

        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ t("TABS.TAB1.important-expenses") }} </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p *ngIf="importantTransactions?.length === 0" class="px text-center">
          {{ t("TABS.TAB1.empty-expenses") }}
        </p>

        <app-transaction-list [transactions]="importantTransactions" [displayTextSeparator]="false" [lineBetweenTransaction]="'medium'">
        </app-transaction-list>

      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ t("GENERAL.expenses-and-incomes") }} </ion-card-title>

        <ion-buttons>
          <ion-button color="primary" routerLink="/tabs/tab3">
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-card-header>

      <ion-card-content>
        <div class="flex justify-content-between">

          <div class="flex items-center">
            <ion-icon name="arrow-up" color="success" class="rounded-full shadow p-s mr-s" style="background-color: white;"></ion-icon>
            <div>
              <div class="thin" style="font-size: 0.9em;">{{ t("GENERAL.income") }}</div>
              <div>
                <currency-value *ngIf="userTotalIncome !== undefined" [value]="userTotalIncome" [showDecimals]="false"></currency-value>
                <ion-skeleton-text *ngIf="userTotalIncome === undefined" animated style="width: 30%;"></ion-skeleton-text>
              </div>
            </div>
          </div>

          <div class="flex items-center">
            <ion-icon name="arrow-down" color="danger" class="rounded-full shadow p-s mr-s" style="background-color: white;"></ion-icon>
            <div>
              <div class="thin" style="font-size: 0.9em;">{{ t("GENERAL.expense") }}</div>
              <div>
                <currency-value *ngIf="userTotalExpense !== undefined" [value]="userTotalExpense" [showDecimals]="false"></currency-value>
                <ion-skeleton-text *ngIf="userTotalExpense === undefined" animated style="width: 30%;"></ion-skeleton-text>
              </div>
            </div>
          </div>

        </div>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title> {{ t("TABS.TAB1.tools") }} </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list class="tool-list">
          <ion-item detail routerLink="/recurring-transaction-list">
            <span slot="start" class="material-symbols-outlined">
              restart_alt
            </span>
            <ion-label>{{ t("RECURRENT-TRANSACTIONS.title") }}</ion-label>
          </ion-item>

          <ion-item detail routerLink="/budgets">
            <span slot="start" class="material-symbols-outlined">
              calculate
            </span>
            <ion-label>{{ t("BUDGETS.title") }}</ion-label>
          </ion-item>

          <ion-item detail routerLink="/currency-converter">
            <span slot="start" class="material-symbols-outlined">
              currency_exchange
            </span>
            <ion-label>{{ t("CURRENCIES.currency-converter") }}</ion-label>
          </ion-item>

          <ion-item detail routerLink="/settings">
            <span slot="start" class="material-symbols-outlined">
              settings
            </span>
            <ion-label>{{ t("SETTINGS.title") }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>