.m-0 {
  --margin-start: 0;
  --margin-end: 0;
  --margin-top: 0;
  --margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.m {
  --margin-start: 16px;
  --margin-end: 16px;
  --margin-top: 16px;
  --margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.mx {
  margin-right: 16px;
  margin-left: 16px;
  --margin-end: 16px;
  --margin-start: 16px;
}

.my {
  --margin-top: 16px;
  --margin-bottom: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.ml {
  margin-left: 16px;
  --margin-start: 16px;
}

.mr {
  margin-right: 16px;
  --margin-end: 16px;
}

.mt {
  margin-top: 16px;
  --margin-top: 16px;
}

.mb {
  margin-bottom: 16px;
  --margin-bottom: 16px;
}

.m-xs {
  --margin-start: 4px;
  --margin-end: 4px;
  --margin-top: 4px;
  --margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.mx-xs {
  margin-right: 4px;
  margin-left: 4px;
  --margin-end: 4px;
  --margin-start: 4px;
}

.my-xs {
  --margin-top: 4px;
  --margin-bottom: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.ml-xs {
  margin-left: 4px;
  --margin-start: 4px;
}

.mr-xs {
  margin-right: 4px;
  --margin-end: 4px;
}

.mt-xs {
  margin-top: 4px;
  --margin-top: 4px;
}

.mb-xs {
  margin-bottom: 4px;
  --margin-bottom: 4px;
}

.m-s {
  --margin-start: 8px;
  --margin-end: 8px;
  --margin-top: 8px;
  --margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.mx-s {
  margin-right: 8px;
  margin-left: 8px;
  --margin-end: 8px;
  --margin-start: 8px;
}

.my-s {
  --margin-top: 8px;
  --margin-bottom: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.ml-s {
  margin-left: 8px;
  --margin-start: 8px;
}

.mr-s {
  margin-right: 8px;
  --margin-end: 8px;
}

.mt-s {
  margin-top: 8px;
  --margin-top: 8px;
}

.mb-s {
  margin-bottom: 8px;
  --margin-bottom: 8px;
}

.m-l {
  --margin-ltart: 24px;
  --margin-end: 24px;
  --margin-top: 24px;
  --margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.mx-l {
  margin-right: 24px;
  margin-left: 24px;
  --margin-end: 24px;
  --margin-ltart: 24px;
}

.my-l {
  --margin-top: 24px;
  --margin-bottom: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.ml-l {
  margin-left: 24px;
  --margin-ltart: 24px;
}

.mr-l {
  margin-right: 24px;
  --margin-end: 24px;
}

.mt-l {
  margin-top: 24px;
  --margin-top: 24px;
}

.mb-l {
  margin-bottom: 24px;
  --margin-bottom: 24px;
}

.m-xl {
  --margin-start: 36px;
  --margin-end: 36px;
  --margin-top: 36px;
  --margin-bottom: 36px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.mx-xl {
  margin-right: 36px;
  margin-left: 36px;
  --margin-end: 36px;
  --margin-start: 36px;
}

.my-xl {
  --margin-top: 36px;
  --margin-bottom: 36px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.ml-xl {
  margin-left: 36px;
  --margin-start: 36px;
}

.mr-xl {
  margin-right: 36px;
  --margin-end: 36px;
}

.mt-xl {
  margin-top: 36px;
  --margin-top: 36px;
}

.mb-xl {
  margin-bottom: 36px;
  --margin-bottom: 36px;
}
