.p-0 {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.p {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.px {
  padding-right: 16px;
  padding-left: 16px;
  --padding-end: 16px;
  --padding-start: 16px;
}

.py {
  --padding-top: 16px;
  --padding-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.pl {
  padding-left: 16px;
  --padding-start: 16px;
}

.pr {
  padding-right: 16px;
  --padding-end: 16px;
}

.pt {
  padding-top: 16px;
  --padding-top: 16px;
}

.pb {
  padding-bottom: 16px;
  --padding-bottom: 16px;
}

.p-xs {
  --padding-start: 4px;
  --padding-end: 4px;
  --padding-top: 4px;
  --padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.px-xs {
  padding-right: 4px;
  padding-left: 4px;
  --padding-end: 4px;
  --padding-start: 4px;
}

.py-xs {
  --padding-top: 4px;
  --padding-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.pl-xs {
  padding-left: 4px;
  --padding-start: 4px;
}

.pr-xs {
  padding-right: 4px;
  --padding-end: 4px;
}

.pt-xs {
  padding-top: 4px;
  --padding-top: 4px;
}

.pb-xs {
  padding-bottom: 4px;
  --padding-bottom: 4px;
}

.p-s {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-s {
  padding-right: 8px;
  padding-left: 8px;
  --padding-end: 8px;
  --padding-start: 8px;
}

.py-s {
  --padding-top: 8px;
  --padding-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.pl-s {
  padding-left: 8px;
  --padding-start: 8px;
}

.pr-s {
  padding-right: 8px;
  --padding-end: 8px;
}

.pt-s {
  padding-top: 8px;
  --padding-top: 8px;
}

.pb-s {
  padding-bottom: 8px;
  --padding-bottom: 8px;
}

.p-l {
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-top: 24px;
  --padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.px-l {
  padding-right: 24px;
  padding-left: 24px;
  --padding-end: 24px;
  --padding-start: 24px;
}

.py-l {
  --padding-top: 24px;
  --padding-bottom: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.pl-l {
  padding-left: 24px;
  --padding-start: 24px;
}

.pr-l {
  padding-right: 24px;
  --padding-end: 24px;
}

.pt-l {
  padding-top: 24px;
  --padding-top: 24px;
}

.pb-l {
  padding-bottom: 24px;
  --padding-bottom: 24px;
}

.p-xl {
  --padding-start: 36px;
  --padding-end: 36px;
  --padding-top: 36px;
  --padding-bottom: 36px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.px-xl {
  padding-right: 36px;
  padding-left: 36px;
  --padding-end: 36px;
  --padding-start: 36px;
}

.py-xl {
  --padding-top: 36px;
  --padding-bottom: 36px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.pl-xl {
  padding-left: 36px;
  --padding-start: 36px;
}

.pr-xl {
  padding-right: 36px;
  --padding-end: 36px;
}

.pt-xl {
  padding-top: 36px;
  --padding-top: 36px;
}

.pb-xl {
  padding-bottom: 36px;
  --padding-bottom: 36px;
}
