<ion-tab-bar *transloco="let t" slot="bottom">
  <ion-header>
    <ion-toolbar>
      <div slot="start" class="p-s" style="max-height: 56px">
        <img src="assets/resources/appIcon.png" alt="App Icon" class="app-icon">
        <ion-title slot="start" class="thin text-left">
          Monekin
        </ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="w-full my-xs add-transaction-button-container">
    <ion-button color="secondary" size="large" expand="block" class="fab-button">
      <ion-icon name="add"></ion-icon>
      <ion-label>Nueva transacción</ion-label>
    </ion-button>
  </div>

  <ion-tab-button [ngClass]="{'tab-selected': currentURL.endsWith('tab1')}" (click)="goTo('/tabs/tab1')">
    <ion-icon [name]="'home' + (currentURL.endsWith('tab1') ? '' : '-outline')"></ion-icon>
    <ion-label>{{ t("TABS.TAB1.title") }}</ion-label>
  </ion-tab-button>

  <ion-tab-button [ngClass]="{'tab-selected': currentURL.endsWith('tab2')}" (click)="goTo('/tabs/tab2')">
    <ion-icon [name]="'file-tray-full' + (currentURL.endsWith('tab2') ? '' : '-outline')"></ion-icon>
    <ion-label>{{ t("TABS.TAB2.title") }}</ion-label>
  </ion-tab-button>

  <ion-tab-button [ngClass]="{'tab-selected': currentURL.endsWith('tab3')}" (click)="goTo('/tabs/tab3')">
    <ion-icon [name]="'bar-chart' + (currentURL.endsWith('tab3') ? '' : '-outline')"></ion-icon>
    <ion-label>{{ t("TABS.TAB3.title") }}</ion-label>
  </ion-tab-button>
</ion-tab-bar>

<ion-fab id="add-transaction-mobile-fab" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="goToAddTransaction()" color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>