<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "RECURRENT-TRANSACTIONS.title" | transloco }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <app-transaction-list [transactions]="transactions" [recurrentListTemporality]="selectedTime" [displayTextSeparator]="false">
  </app-transaction-list>

  <div *ngIf="transactions?.length === 0" class="empty-list">
    <img src="assets/icons/empty-transactions.svg" alt="No transactions icon">
    <p>{{ "RECURRENT-TRANSACTIONS.empty" | transloco }}</p>
  </div>

</ion-content>

<ion-footer *ngIf="transactions" class="p">
  <div class="flex justify-content-between items-center" *transloco="let t">
    <ion-label>
      <p>{{ t("RECURRENT-TRANSACTIONS.balance") }}</p>
      <h1>
        <currency-value [value]="getTotal()" [currencyCode]="userCurrency?.code"></currency-value>
      </h1>
    </ion-label>

    <div class="flex items-center">
      <ion-label>
        <ng-container *ngIf="selectedTime === 'week'">{{ t("GENERAL.TIME.weekly") }}</ng-container>
        <ng-container *ngIf="selectedTime === 'month'">{{ t("GENERAL.TIME.monthly") }}</ng-container>
        <ng-container *ngIf="selectedTime === 'year'">{{ t("GENERAL.TIME.annualy") }}</ng-container>
      </ion-label>
      <ion-buttons>
        <ion-button (click)="changeSelectedTime()">
          <ion-icon name="swap-vertical" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>
</ion-footer>