<app-dynamic-sheet-modal [title]="'TABS.filter-transactions'" (dismissed)="dismiss()" (confirmed)="submit()">
  <ion-list>
    <ion-item button (click)="selectAccounts()">
      <ion-label>{{ "GENERAL.accounts" | transloco }}:</ion-label>
      <ion-label class="text-end">
        <ng-container *ngIf="selectedAccounts !== 'all'">
          <ng-container *ngFor="let account of selectedAccounts; let i = index">{{account.name}}{{ i !== (selectedAccounts.length-1) ? ", " : "" }}
          </ng-container>
        </ng-container>
        <ng-container *ngIf="selectedAccounts === 'all'">
          {{ "ACCOUNT.SELECT.all" | transloco }}
        </ng-container>
      </ion-label>
    </ion-item>

    <ion-item button (click)="selectCategories()">
      <ion-label>{{ "GENERAL.categories" | transloco }}:</ion-label>
      <ion-label slot="end">

        <ng-container *ngIf="selectedCategories !== 'all'">
          <ng-container *ngFor="let category of selectedCategories; let i = index">
            {{category.name}}{{ i !== (selectedCategories.length-1) ? ", " : "" }}
          </ng-container>
        </ng-container>

        <ng-container *ngIf="selectedCategories === 'all'">
          {{ "CATEGORIES.SELECT.all" | transloco }}
        </ng-container>

      </ion-label>
    </ion-item>
  </ion-list>

</app-dynamic-sheet-modal>