<app-dynamic-sheet-modal [title]="allowMultiSelection ? 'ACCOUNT.SELECT.multiple' : 'ACCOUNT.SELECT.one'" (dismissed)="dismiss()"
  (confirmed)="submit()" [displayFooterButtons]="allowMultiSelection" [confirmButtonDisabled]="selectedAccounts.length === 0">

  <ion-list [ngClass]="{'add-bottom-padding': !allowMultiSelection}">

    <ng-container *ngIf="!allowMultiSelection && selectedAccounts !== 'all'">
      <ion-radio-group [value]="selectedAccounts[0].name">
        <ion-item *ngFor="let account of allAccounts; let i = index">
          <ion-icon [name]="account.icon" slot="start"></ion-icon>
          <ion-label>
            {{account.name}}
          </ion-label>
          <ion-radio slot="end" [value]="account.name" (ionFocus)="select(account)"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ng-container>

    <ng-container *ngIf="allowMultiSelection">
      <ion-item *ngFor="let account of allAccounts; let i = index">
        <ion-icon [name]="account.icon" slot="start"></ion-icon>
        <ion-label>
          {{account.name}}
        </ion-label>
        <ion-checkbox slot="end" [checked]="isChecked(account)" (ionChange)="onCheckboxChange($event, account)"></ion-checkbox>
      </ion-item>
    </ng-container>
  </ion-list>

</app-dynamic-sheet-modal>