<ng-container *transloco="let t">
  <ion-toolbar>
    <ion-title>
      {{ t("Editar perfil") }}
    </ion-title>
  </ion-toolbar>

  <div class="p">

    <ion-item fill="outline">
      <ion-label position="floating">{{ t("SETTINGS.display-name") }}</ion-label>
      <ion-input type="text" [(ngModel)]="userName"></ion-input>
    </ion-item>

    <h6 class="mt-l">Avatar</h6>
    <div class="images-container">
      <ion-avatar class="user-avatar" (click)="selectedAvatar = allAvatarsEnum[image]" [class.selected]="allAvatarsEnum[image] === selectedAvatar"
        *ngFor="let image of allAvatars">
        <img [src]="'./../../../../assets/icons/avatars/' + allAvatarsEnum[image] + '.svg'" alt="">
      </ion-avatar>
    </div>

    <!-- Buttons -->
    <div class="flex justify-content-between">
      <ion-button expand="block" class="stroked" style="width: 49%" (click)="dismiss()">
        {{ t("GENERAL.cancel") }}
      </ion-button>

      <ion-button expand="block" style="width: 49%" (click)="submit()">
        {{ t("GENERAL.confirm") }}
      </ion-button>
    </div>

  </div>
</ng-container>