<ion-progress-bar *ngIf="!transactions" type="indeterminate"></ion-progress-bar>

<ng-container *transloco="let t">
  <ion-list *ngIf="transactions && transactions.length > 0" [@listAnimation]="transactions.length">
    <ng-container *ngFor="let trans of transactions; index as i">

      <!---- Sublist titles ---->
      <ng-container *ngIf="displayTextSeparator">

        <!---- Date indicator ---->
        <div class="sublist-title" [ngClass]="{ 'margin-top': i !== 0 }"
          *ngIf="order !== 'Category' && (i === 0 || !checkIfSameDay(transactions[i - 1], transactions[i])) ">
          <ng-container *ngIf="getIfToday(trans)">
            {{ t("GENERAL.today") }}
          </ng-container>
          <ng-container *ngIf="getIfYesterday(trans)">
            {{ t("GENERAL.yesterday") }}
          </ng-container>
          <ng-container *ngIf="!getIfToday(trans) && !getIfYesterday(trans)">
            {{ trans.date | date : "dd MMMM" : "" }}
          </ng-container>
        </div>

        <!---- Category indicator indicator ---->
        <div class="sublist-title" [ngClass]="{ 'margin-top': i !== 0 }"
          *ngIf="order === 'Category' && (i === 0 || ((transactions[i - 1].category?.parentCategory?.id ?? transactions[i - 1].category?.id) !== (transactions[i].category?.parentCategory?.id ?? transactions[i].category?.id)))">
          {{ trans.category ? (trans.category.parentCategory?.name ?? trans.category.name) : ("TRANSFER.display") }}
        </div>

      </ng-container>

      <ion-item [detail]="false" [routerLink]="'/transaction-details/' + trans.id">
        <ion-avatar slot="start" [ngStyle]="{'background-color': getTransactionColor(trans) + '19'}">
          <ion-icon [ngStyle]="{'color': getTransactionColor(trans)}" [name]="getTransactionIcon(trans)">
          </ion-icon>
        </ion-avatar>

        <ion-label style="flex-grow: 2;">
          <h3>
            <ng-container *ngIf="trans.category">{{ trans.category.name }}</ng-container>
            <ng-container *ngIf="trans.receivingAccount">{{ t("TRANSFER.display") }}</ng-container>
          </h3>
          <p>{{ trans.text }}
            <ng-container *ngIf="!trans.text && trans.receivingAccount">{{ t("TRANSFER.from-to-text", {x: trans.account.name, y:
              trans.receivingAccount.name}) }}</ng-container>
          </p>
        </ion-label>

        <ion-label class="text-end">
          <span [ngClass]="{'green': trans.value > 0 && !trans.receivingAccount}" class="quantity rounded-s px-xs">
            <currency-value [value]="recurrentListTemporality ? convertTransactionQuantity(trans) : trans.value"
              [currencyCode]="trans.account.currency"></currency-value>
          </span>
          <p *ngIf="recurrentListTemporality && recurrentListTemporality !== trans.repeat.temp">
            {{ trans.value | currency : trans.account.currency : "symbol-narrow" : "1.2-2" }} -
            <ng-container *ngIf="trans.repeat.temp === 'week'">{{ t("GENERAL.TIME.weekly") }}</ng-container>
            <ng-container *ngIf="trans.repeat.temp === 'month'">{{ t("GENERAL.TIME.monthly") }}</ng-container>
            <ng-container *ngIf="trans.repeat.temp === 'year'">{{ t("GENERAL.TIME.annualy") }}</ng-container>
          </p>
        </ion-label>

      </ion-item>

    </ng-container>

  </ion-list>
</ng-container>