ion-label p {
  white-space: break-spaces;
}

.update-warn {
  font-size: 0.75em;
  color: var(--ion-color-warning);
  font-weight: 300;

  ion-icon {
    margin-bottom: -4px;
    font-size: large;
  }
}
