<ion-tab-bar *transloco="let t" slot="bottom">
  <ion-header>
    <ion-toolbar>
      <div slot="start" class="p-s" style="max-height: 56px">
        <img src="assets/resources/appIcon-removebg.png" alt="App Icon" class="app-icon">
        <ion-title slot="start" class="thin text-left">
          Monekin
        </ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="w-full my-xs add-transaction-button-container">
    <ion-button (click)="goToAddTransaction()" color="secondary" size="large" expand="block" class="fab-button">
      <ion-icon name="add"></ion-icon>
      <ion-label> {{ t("TRANSACTION.new") }}</ion-label>
    </ion-button>
  </div>

  <ng-container *ngFor="let tab of tabs">
    <ion-tab-button routerLinkActive="tab-selected" routerDirection="root" [routerLink]="[tab.url]">
      <ion-icon [name]="tab.icon + (currentURL === tab.url ? '' : '-outline')"></ion-icon>
      <ion-label>{{ t(tab.label) }}</ion-label>
    </ion-tab-button>
  </ng-container>

</ion-tab-bar>


<ion-fab id="add-transaction-mobile-fab" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="goToAddTransaction()" color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>