$spinner-size: 48px;

ion-spinner.chart-loading {
  position: absolute;
  left: calc(50% - ($spinner-size / 2));
  top: calc(50% - ($spinner-size / 2));
  height: $spinner-size;
  width: $spinner-size;
  color: var(--ion-color-primary);
}

.loading-chart {
  opacity: 0.4;
}

div.grid {
  display: grid;
  padding-top: 8px;
  grid-row-gap: 8px;
  grid-column-gap: 12px;
  align-items: center;
  grid-template-columns: auto 1fr auto;
}

ion-segment-button {
  --margin-top: 0px;
  --margin-bottom: 0px;

  @media (prefers-color-scheme: dark) {
    --indicator-color: var(--ion-color-tertiary);
  }
}

ion-segment-button.segment-button-checked {
  @media (prefers-color-scheme: dark) {
    color: var(--ion-color-tertiary);
  }
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    padding: 10px;
    border-radius: 10px;
    font-size: 28px;
  }
}
