@import "theme/breakpoints.scss";
$max-intro-width: 950px;

ion-content,
ion-footer {
  --background: var(--ion-color-light);
  background-color: var(--ion-color-light);
}

.upload-icon {
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.swiper-slide {
  height: calc(100vh - 88px); // Full - FooterSize
  width: 100vw;
  max-width: $max-intro-width;
  margin: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;

  @include min-width("lg") {
    align-content: center;
    flex-direction: row;
  }

  justify-content: center;
  align-items: center;

  .text-container {
    width: 100%;
    padding: 0 24px;
    padding-top: 4vh;
    padding-bottom: 1vh;
    max-height: 50%;
    height: 50%;
    display: inline-flex;
    align-items: flex-start;
    overflow: scroll;
    flex-direction: column;
    justify-content: flex-start;

    > * {
      width: 100%;
    }

    .currency-selector-item {
      --inner-border-width: 0px;
    }
  }
}

.img-container {
  padding: 12px 18px;
  width: 100%;
  height: 50%;
  background-color: var(--ion-color-tertiary);
  display: inline-flex;
  align-items: center;

  @include min-width("lg") {
    min-height: 70vh;
    border-radius: 0.25rem;
  }

  img {
    max-height: 100%;
    width: 100%;
  }
}

ion-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px max(16px, calc((100vw - $max-intro-width) / 2));

  ion-button[fill="clear"] {
    color: var(--ion-color-primary);

    @media (prefers-color-scheme: dark) {
      color: var(--ion-color-tertiary);
    }
  }

  > * {
    width: 33.33%;
  }

  .page-indicator {
    ion-icon {
      font-size: 10px;
      transition: all 0.5s;
      margin: 0px 4px;
      color: var(--ion-color-secondary);
    }

    ion-icon.active {
      transform: scale(1.2);
      color: var(--ion-color-primary);

      @media (prefers-color-scheme: dark) {
        color: var(--ion-color-tertiary);
      }
    }
  }
}
