.chips-container {
  overflow: scroll;
  white-space: nowrap;
  background-color: var(--ion-color-light);
  border-bottom: 1px solid var(--ion-color-light-shade);

  ion-chip:first-of-type {
    margin-left: 16px;
  }

  ion-chip.category-chip * {
    color: white;
  }
}
