<div *ngIf="componentVisible" class="py-s px chips-container">
  <span *transloco="let t">{{ t("GENERAL.filters") }}:</span>

  <ng-container *ngIf="filterService.selectedAccounts !== 'all'">
    <ion-chip (click)="removeAccount(account)" color="secondary" *ngFor="let account of filterService.selectedAccounts">
      <ion-icon [name]="account.icon"></ion-icon>
      <ion-label>{{account.name}}</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
  </ng-container>

  <ng-container *ngIf="filterService.selectedCategories !== 'all'">
    <ion-chip (click)="removeCategory(category)" class="category-chip" *ngFor="let category of filterService.selectedCategories"
      [ngStyle]="{ 'background-color': '#' + category.color }">
      <ion-icon [name]="category.icon"></ion-icon>
      <ion-label>{{category.name}}</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
  </ng-container>
</div>