<div class="trend" [ngClass]="{'box': form === 'outline-box'}">

  <div class="green" *ngIf="value > 0">
    <ion-icon name="trending-up"></ion-icon>
    <span>
      {{ value | percent : "1.0-1" : lang.getSelectedLang() }}
    </span>
    <span *ngIf="textAfter">&nbsp;{{textAfter}}</span>
  </div>

  <div class="red" *ngIf="value < 0">
    <ion-icon name="trending-down"></ion-icon>
    <span>
      {{ -value | percent : "1.0-1" : lang.getSelectedLang() }}
    </span>
    <span *ngIf="textAfter">&nbsp;{{textAfter}}</span>
  </div>

  <div class="equal" *ngIf="value === 0">
    <span>
      {{ "= "}}{{ 0 | percent : "1.0-0" : lang.getSelectedLang() }}
    </span>
    <span *ngIf="textAfter">&nbsp;{{textAfter}}</span>
  </div>

  <div class="equal w-1/4" *ngIf="value === undefined || value === null">
    <span class="w-full">
      <ion-skeleton-text style="margin: 2.75px 0;" animated></ion-skeleton-text>
    </span>
  </div>

</div>