<ion-content class="p" *transloco="let t">

  <div class="main-container">
    <header>
      <img src="assets/resources/appIcon-removebg.png" alt="App Icon" class="app-icon">
      <h1 class="mt-l">{{ t("INTRO.welcome") }}</h1>
      <h5 class="my">{{ t("INTRO.welcome.subtitle") }}</h5>
    </header>

    <div>
      <p class="account-description" [innerHTML]="t('INTRO.offline.descr')"></p>
      <ion-button expand="block" [routerLink]="'/onboarding'" data-cy="start-offline">{{ t("INTRO.offline.start") }}</ion-button>
    </div>
  </div>

</ion-content>

<ion-footer class="px thin" style="font-size: 0.8em;" *transloco="let t" [innerHTML]="t('INTRO.welcome.footer')">
</ion-footer>