@import "theme/breakpoints.scss";

:root {
  // Variables for mobile:
  --ion-tab-bar-height-md: 80px;
  --ion-tab-bar-height-ios: 51px;

  // Variables for desktop:
  --ion-tab-bar-width-small: 78px;
  --ion-tab-bar-width-big: 268px;
}

@include max-width("sm") {
  // TODO: Transitioning the ion tab bar apparition and hiding

  // On mobile, the tab bar is hidden by default
  ion-tab-bar {
    display: none;
  }

  .show-on-mobile ion-tab-bar {
    display: flex;
  }

  .md app-tabs.show-on-mobile + * {
    height: calc(100vh - var(--ion-tab-bar-height-md));
  }

  .ios app-tabs.show-on-mobile + * {
    height: calc(100vh - var(--ion-tab-bar-height-ios));
  }
}

@include min-width("sm") {
  app-tabs + * {
    left: var(--ion-tab-bar-width-small);
  }
}

@include min-width("lg") {
  app-tabs + * {
    left: var(--ion-tab-bar-width-big);
  }
}

app-tabs.hidden + * {
  left: 0;
  width: 100% !important;
  z-index: 100000;
}
