// Font family of the app, defined by google fonts in the index.html
* {
  font-family: "Nunito", "Work Sans", sans-serif;
  --ion-font-family: "Nunito", "Work Sans", sans-serif;
}

html {
  font-size: calc(16px + (20 - 16) * (100vw - 300px) / (2000 - 300));
}

a {
  cursor: pointer;
  color: var(--ion-color-primary);

  @media (prefers-color-scheme: dark) {
    color: white;
    font-weight: lighter;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}
